<div class="bottom-info text-center" id="plantFinderDiv">
    <a href="#"><img src="{{ asset('images/icon-plant-finder-md.png') }}" alt="Plant Finder" /> <h3>Just can't find the right plant?</h3></a>
    <div class="button"><a href="#" class="btn btn-primary"><img src="{{ asset('images/icon-plant-finder-sm.png') }}" /> Use our Plant Finder Tool</a></div>
</div>
{{ include('shop/shop_related_items.html.twig') }}