{% if items|length > 0 %}
    {% for item in items %}
        <option value="{{ item.id }}"{% if item.id == selected %} selected{% endif %} class="pl-20">-- {{ item.title }}</option>\
    {% endfor %}
{% endif %}
