<div class="menu-modal modal fade" id="menuGarden" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content slide">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="modal-body">
                <div class="row" id="modal-menu">
                    <div class="col-md-1"></div>
                    {% for menu in menu_garden %}
                        <div class="col-md-2">
                            <h4>{{ menu.title }}</h4>
                            <hr />
                            {{ render(controller('AppBundle:Default:submenu', {'parent':menu.id})) }}
                        </div>
                    {% endfor %}
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menu-modal modal fade" id="menuHomeGift" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content slide">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="modal-body">
                <div class="row" id="modal-menu">
                    <div class="col-md-2"></div>
                    {% for menu in menu_home_gift %}
                        <div class="col-md-2">
                            <h4>{{ menu.title }}</h4>
                            <hr />
                            {{ render(controller('AppBundle:Default:submenu', {'parent':menu.id})) }}
                        </div>
                    {% endfor %}
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
